
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    font-family: roboto,sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
:root{
    --base-color:white;
    --theme-switch:rgb(163, 160, 160);
    --text-color:black;
}

.darkMode{
    --base-color:rgb(37, 36, 36);
    --theme-switch:rgb(53, 52, 52);
    --text-color:rgb(124, 123, 123);
}
.content{
    display: flex;
    flex: 1;
}
.content h2{
    color:rgb(57, 92, 231) ;
    font-weight: 900;
}
.loginPanel{
    background-color: var(--base-color);
    padding-top: 100px;
    padding-left:50px ;
    padding-right: 40px;
}
.textInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textInput input{
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 16px;
}
.remForgot .rem{
    margin-right: auto;
}
.remForgot{
    color: rgb(160, 158, 158);
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}
.remForgot p{
    margin: 0;
}
.login, .signUp{
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.login{
    border:none;
    background-color: rgb(49, 96, 215);
    color: white;
    margin-right: 20px;
    padding: 17px 40px 17px 40px;
}
.login:hover {
    background-color: rgb(39, 79, 190);
}
.login:active{
    background-color: rgb(109, 148, 231);
}
.signUp:hover {
    background-color: rgb(49, 96, 215);
    border: none;
    color: white;
    padding: 17px 40px 17px 40px;
}
.signUp:active{
    background-color: rgb(39, 79, 190);
}
.signUp{
    border: solid 2px;
    background-color: white;
    border-color: rgb(49, 96, 215);
    color: rgb(49, 96, 215);
    padding: 15px 38px 15px 38px;
}

.picturePanel{
    display: flex;
    flex:1;
    background-color: rgb(49, 96, 215);
    flex-direction: column;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 70px;
}
ul li{
    margin-top: 5px;
    color: rgb(150, 175, 233);
    font-size: 20px;
    text-decoration: none;
    list-style-type:none;
}

#theme-switch{
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-switch);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease;
}

#theme-switch svg{
    fill: var(--text-color);
}

#theme-switch svg:last-child{
    display: none;
}
.darkMode #theme-switch svg:first-child{
    display: none;
}
.darkMode #theme-switch svg:last-child{
    display: block;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 194, 194);
    padding: 10px;
}

img{
    max-width: 900px;
}

nav ul li:hover {
    color: rgb(198, 195, 195);
    text-decoration: underline;
}

nav ul li:active{
    color: rgb(222, 220, 220);
}

.home{
    text-decoration: underline;
}

.loginWith-text, a{
    color: var(--text-color);
}