@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --base-color:white;
    --base-variant:aliceblue;
    --text-color:rgb(39, 37, 37);
    --primary-color: rgb(49, 96, 215);
    --secondary-color: rgb(82, 132, 197);
    --hover-color:rgb(236, 233, 233);
    --theme-switch:rgb(163, 160, 160);
}

.darkMode{
    --base-color:black;
    --base-variant:rgb(36, 35, 35);
    --text-color:rgb(222, 216, 216);
    --primary-color: rgb(49, 96, 215);
    --secondary-color: rgb(82, 132, 197);
    --hover-color:rgb(74, 73, 73);
    --theme-switch:rgb(53, 52, 52);

}

body{
    font-family: robot,sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    transition: all 0.1s ease;
}
p{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--base-color);
    padding: 10px;
    font-weight: 900;
    font-size: 30px;
    gap: 30px;
    position: fixed;
    right: 0px;
    left: 0px;
}
.header img{
    width: 50px;
}
.header p{
    margin-right: auto;
    color: white;
}
#theme-switch{
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-switch);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease;
}

#theme-switch svg{
    fill: var(--text-color);
}

#theme-switch svg:last-child{
    display: none;
}
.darkMode #theme-switch svg:first-child{
    display: none;
}
.darkMode #theme-switch svg:last-child{
    display: block;
}

.content{
    display: flex;
    flex:1;
}

.navPanel{
    background-color: var(--base-variant);
    padding-top: 40px;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.8);
    position: fixed;
    bottom:0px ;
    top: 70px;
}
.navPanel ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.navPanel li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.navPanel i{
    color: var(--text-color);
    font-size: 30px;
    margin-right: 10px;
}

.homeTab:hover,
.appointmentsTab:hover,
.profileTab:hover{
    background-color: var(--hover-color);
}
.settingsTab{
    background-color: var(--primary-color);
    color: var(--base-color);
    padding: 10px;
    border-radius: 5px;
}
.settingsTab i{
    color: var(--base-color);
}
.navPanel a{
    margin-right: 10px;
    margin-top: px;
}

 .appointmentsTab, .profileTab, .homeTab{
    color: var(--text-color);
}

.rightPanel{
    background-color: var(--base-variant);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    font-size: 40px;
    gap: 40px;
    margin-left: 300px;
    margin-top: 70px;
}

.rightPanel label{
    color: var(--text-color);
}

.forLocation, .forSymptoms{
    display: flex;
    flex-direction: column;
}
.forSymptoms select, .forLocation input{
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    padding:0px 20px 0px 30px;
    background-color: var(--base-color);
}
.forSymptoms select{
    color: grey;
}
.forLocation input{
    color: var(--text-color);
}
.contact button{
    border: none;
    padding: 15px;
    background-color: rgb(82, 132, 197);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;

}
.contact button:hover{
    background-color: rgb(114, 156, 196);
}
.contact button:active{
    background-color: rgb(154, 190, 222);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
}




